@media (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__nav {
            margin: 0;
            width: 70%;
        }
    }
    .promo {
        &__title {
            h1 {
                font-size: 46px;
            }
        }
        &__subtitle {
            font-size: 18px;
        }
        &__left-content {
            margin-top: 70px;
        }
        &__right-content {
            width: 40%;
            .scooter {
                width: 100%;
            }
        }
        &__btn {
            &-wrapper {
                width: 80%;
            }
        }
    }
    .popular {
        padding: 0;
        &__category {
            width: 17%;
        }
        &__burger_item {
            width: 17%;
            &-stars {
                left: 20px;
            }
            &-name {
                font-size: 12px;
            }
        }
        &__slide-wrapper {
            margin-top: 20px;
        }
    }
    .delivery {
        padding: 0;
        &-wrapper {
            align-items: center;
        }
        &__left {
            width: 60%;
            margin-right: 0;
            img {
                width: 100%;
            }
        }
        &__right {
            padding-top: 80px;
            &-title {
                font-size: 30px;
            }
            &-subtitle {
                font-size: 19px;
            }
            &_list-text {
                font-size: 20px;
            }
        }
    }
    .restaurant {
        padding: 0;
        padding-top: 30px;
        &-wrapper {
            justify-content: space-around;
        }
        &__item {
            padding-bottom: 30px;
            height: auto;
            &-name {
                font-size: 20px;
                text-align: center;
                margin-left: 0;
            }
            &-wrapper {
                margin-bottom: 20px;
                line-height: 30px;
                flex-wrap: wrap;
            }
            &-workTime {
                font-size: 16px;
            }
        }
    }
    .mobile {
        padding: 30px 0;
        &-wrapper {
            align-items: center;
        }
        &__left {
            margin-top: 80px;
            width: 45%;
            margin-right: 20px;
        }
        &__right {
            width: 49%;
            img {
                width: 100%;
            }
        }
    }
    .feedback {
        padding-top: 40px;
        &-wrapper {
            margin-top: 40px;
            flex-wrap: wrap;
            align-items: center;
        }
        &__left {
            width: 40%;
            margin-right: 0;
            img {
                width: 100%;
                height: auto;
                
            }
        }
        &__right {
            width: 55%;
            &-content {
                font-size: 16px;
            }
            &-wrapper {
                margin-top: 20px;
            }
        }
    }
    .subscribe {
        margin-top: 40px;
        &-wrapper {
            height: 350px;
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .footer {
        margin-top: 40px;
        &-wrapper {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__liner {
            width: 100%;
        }
        &__sub {
            &-copyright {
                width: 55%;
            }
            &-item {
                width: 15%;
            }
        }
        
    }
};
@media (max-width: 575px) {
    .container {
        width: 90vw;
    }
    .header {
        padding: 10px 0;
        &__wrapper {
            flex-direction: column;
            flex-wrap: wrap;
        }
        &__logo {
            margin: 0 auto;
            width: 30%;
        }
        &__nav {
            margin: 0 auto;
            width: 100%;
            &-item {
                font-size: 16px;
                margin-right: 20px;
                margin-bottom: 10px;
            }
            ul {
                flex-wrap: wrap;
                padding: 0;
            }
        }
        &__sumbit {
            margin: 0 auto;
        }
    }
    .promo {
        padding: 20px 0;
        &__wrapper {
            flex-direction: column-reverse;
        }
        &__right-content {
            width: 100%;
            .scooter {
                width: 100%;
            }
        }
        &__left-content {
            width: 100%;
            margin-top: 20px;
        }
        &__title {
            h1 {
                font-size: 38px;
            }
        }
        &__subtitle {
            font-size: 16px;
        }
        &__btn {
            &-wrapper {
                width: 100%;
                margin-top: 20px;
            }
        }
        &__download {
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
    .popular {
        &__title {
            h2 {
                font-size: 26px;
            }
        }
        &__category_wrapper {
            flex-direction: column;
        }
        &__category {
            width: 100%;
            margin-bottom: 15px;
        }
        &__burgers_wrapper {
            flex-direction: column;
        }
        &__burger_item {
            width: 100%;
            margin-bottom: 20px;
            &-img-face {
                width: 50%;
            }
            &-stars {
                width: 50%;
            }
        }
        &__slide-wrapper {
            display: none;
        }
    }
    .delivery {
        &-wrapper {
            flex-direction: column;
        }
        &__left {
            width: 100%;
            margin-right: 0;
        }
        &__right {
            padding-top: 30px;
            width: 100%;
            &-title {
                font-size: 24px;
            }
            &-subtitle {
                margin-top: 15px;
                font-size: 16px;
            }
            &_list-text {
                font-size: 16px;
            }
            &-btn {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .restaurant {
        width: 100%;
        &-title {
            margin-top: 30px;
            line-height: 38px;
        }
        &-wrapper {
            display: block;
            width: 100%;
        }
        &__item {
            display: block;
            width: 100%;
            height: auto;
            &-face {
                img {
                    width: 100%;
                }
            }
            &-name {
                margin: 0;
                margin-top: 10px;
                text-align: center;
            }
            &-wrapper {
                flex-wrap: wrap;
                margin: 0;
                margin-top: 15px;
                padding: 10px 40px;
            }
            &-btn {
                display: block;
                margin: 0 auto;
            }
        }
    }
    .mobile {
        &-wrapper {
            flex-direction: column-reverse;
        }
        &__right {
            width: 100%;
        }
        &__left {
            width: 100%;
            &-title {
                text-align: center;
                font-size: 22px;
            }
            &-subtitle {
                font-size: 18px;
                margin-top: 10px;
                text-align: center;
            }
            &-apps {
                margin-top: 15px;
                justify-content: space-around;
                .googlePlay {
                    margin-left: 0;
                    width: 45%;
                    img {
                        width: 100%;
                    }
                }
                .appStore {
                    width: 45%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .feedback {
        padding-top: 0;
        &-title {
            font-size: 24px;
        }
        &-wrapper {
            flex-direction: column;
            background-color: #fff;
            border-radius: 10px;
        }
        &__left {
            display: block;
            margin: 0 auto;
            margin-top: 15px;
            width: 70%;
            height: 70%;
        }
        &__right {
            margin-top: 10px;
            width: 100%;
            padding: 0 10px;
            &-content {
                font-size: 12px;
                line-height: 30px;
                text-align: center;
            }
            &-wrapper {
                justify-content: space-around;
                width: 100%;
                .arrows {
                    margin-left: 0;
                    width: 8%;
                    &:hover {
                        transform: scale(1.3, 1.3);
                    }
                }
            }
            &-persona {
                margin: 0;
            }
        }
    }
    .subscribe {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 90%;
        &-wrapper {
            min-height: 375px;
        }
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__form {
            width: 100%;
            &-input {
                width: 90%;
                display: block;
                margin: 0 auto;
                font-size: 14px;
            }
            &-btn {
                position: static;
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                border: 2px solid #fff;
                font-size: 20px;
            }
        }
    }
    .footer {
        &__items {
            display: none;
        }:first-child{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__sub {
            width: 100%;
            &-wrapper {
                padding-top: 10px;
                flex-wrap: wrap;
                height: auto;
                flex-direction: column;
                justify-content: space-around;
            }
            &-copyright {
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
};