* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
@import 'variable.scss';
body {
    background-color: #F9FAFF;
}
.container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    padding: 60px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: block;
        margin: 0;
        width: 9%;
        height: auto;
        &-img {
            width: 100%;
        }
    }
    &__nav {
        display: block;
        margin: 0;
        width: 55%;
        margin-left: 180px;
        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &-item {
            :hover {
                color: $main_color;
            }
            a {
                color: black;
                text-decoration: none;
                
            }
            list-style-type: none;
            font-weight: 400;
            
            
        }
    }
    &__sumbit {
        display: block;
        button {
            background-color: $main_color;
            width: 120px;
            height: 50px;
            border: none;
            color: white;
            font-weight: 400;
            box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 6px 1px #020000;
            }
        }
    }
}
.promo {
    padding: 50px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-content {
        margin-top: 115px;
        width: 48%;
        height: auto;
    }
    &__title {
        h1 {
            font-size: 66px;
            font-weight: 500;
            .span {
                color: $main_color;
            }
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        margin-top: 23px;
    }
    &__btn-wrapper {
        margin-top: 45px;
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__btn {
        width: 163px;
        height: 50px;
        background-color: $main_color;
        border: none;
        box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
        border-radius: 5px;
        color: white;
        font-weight: 400;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 6px 1px #020000;
        }
    }
    &__download {
        display: block;
        a {
            color: black;
            text-decoration: none;
        }:hover {
            color: $main_color;
        }
    }
    &__right-content {
        display: block;
        /* background: url('../img/promo/Scooter\ Guy.png') center (center / cover) no-repeat; */
        width: 43%;
        height: auto;
        .scooter {
            width: 100%;
        }
    }
}
.popular {
    padding: 45px 0;
    &__title h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        .span {
            color: $main_color;
        }
    }
    &__category {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 18%;
        height: auto;
        background-color: #fff;
        border-radius: 8px;
        cursor: pointer;
        
        &_wrapper {
            margin-top: 55px;
            display: flex;
            justify-content: space-around;
            :hover {
                background-color: $main_color;
                color: white;
            }
        }
        &-text {
            margin-left: 9px;
        }
    }
    &__burgers_wrapper {
        margin-top: 39px;
        display: flex;
        justify-content: space-around;
    }
    &__burger_item {
        padding: 10px 0;
        background-color: #fff;
        width: 18%;
        height: auto;
        border-radius: 12px;
        display: block;
        &-img {
            position: relative;

        }
        &-img-face {
            display: block;
            margin: 0 auto;
            width: 100%;
            height: auto;
        }
        /* 
        Почему-то не получается повернуть второй элемент..
        &-img-face:nth-child(2) {
            transform: rotate(-5deg);
        } */
        &-stars {
            width: 80%;
            display: block;
            margin: 0 auto;
            transform: translateY(-10px);

        }
        &-name {
            text-align: center;
            color: #363853;
            font-weight: 400;
        }
        &-price {
            color: #363853;
            font-weight: 500;
            text-align: center;
            margin-top: 9px;
        }
        &-btn {
            width: 52%;
            height: 32px;
            display: block;
            margin: 0 auto;
            margin-top: 11px;
            border: none;
            background-color: $main_color;
            color: white;
            cursor: pointer;
            align-items: center;
            &:hover {
                box-shadow: 0 0 6px 1px #020000;
            }
        }
    }
    &__slide-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    &__slide_arrow-left {
        width: 34px;
        height: 34px;
        margin-right: 11px;
        cursor: pointer;
        :hover {
            width: 40px;
            height: 40px;
        }
    }
    &__slide-dots {
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: #D1D2DC;
        margin-left: 14px;
        cursor: pointer;
    }
    &__slide_arrow-right {
        width: 34px;
        height: 34px;
        margin-left: 25px;
        cursor: pointer;
        :hover {
            width: 40px;
            height: 40px;
        }
    }
}
.delivery {
    padding: 87px 0;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 40%;
        margin-right: 137px;
    }
    &__right {
        padding-top: 114px;
        width: 40%;
        &-title {
            font-size: 36px;
            font-weight: 500;
            line-height: 50px;
            .span {
                color: $main_color;
            }
        }
        &-subtitle {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 30px;
            color: #363853;
            opacity: 0.9;
        }
        &_list {
            margin-top: 14px;
            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
            }
            
            &-text {
                font-size: 23px;
                font-weight: 400;
                width: 84%;
            }
        }
        &-btn {
            background-color: $main_color;
            border: none;
            box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
            border-radius: 30px 30px 1px 30px;
            width: 176px;
            height: 58px;
            color: white;
            font-weight: 400;
            font-size: 20px;
            margin-top: 25px;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 6px 1px #020000;
            }
        }
    }
}
.restaurant {
    padding: 41px;
    &-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 30px;
        text-align: center;
        color: #363853;
        .span {
            color: $main_color;
        }
    }
    &-wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 30%;
        height: 417px;
        background: #FFFFFF;
        border-radius: 53px 5px;
        margin-bottom: 43px;
        &-face {
            img {
                width: 100%;
            }
            
        }
        &-name {
            color: #363853;
            margin-top: 22px;
            margin-left: 20px;
            font-size: 24px;
            font-weight: 400;
        }
        &-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 14px;
            .timer {
                width: 22px;
                height: 22px;
            }
        }
        &-workTime {
            font-size: 18px;
            color: #363853;
            opacity: 0.9;
            font-weight: 300;
        }
        &-btn {
            width: 79px;
            height: 33px;
            background-color: $main_color;
            border: none;
            box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.19);
            border-radius: 20px 20px 0px 20px;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 6px 1px #020000;
            }
        }
    }
}
.mobile {
    padding-top: 124px;
    &-wrapper {
        display: flex;
        
    }
    &__left {
        margin-top: 119px;
        width: 40%;
        margin-right: 100px;
        &-title {
            color: #363853;
            font-weight: 500;
            font-size: 34px;
            .span {
                color: $main_color;
            }
        }
        &-subtitle {
            margin-top: 30px;
            font-size: 20px;
            line-height: 30px;
            color: #363853;
            opacity: 0.9;
        }
        &-apps {
            display: flex;
            margin-top: 30px;
            .googlePlay {
                margin-left: 35px;
                
            }:hover {
                box-shadow: 0 0 6px 1px #020000;
            }
        }
    }
    &__right {
        width: 40%;
        &-img {
            width: 100%;
            height: auto;
        }
    }
}
.feedback {
    padding-top: 166px;
    &-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.5px;
        color: #363853;
        text-align: center;
        .span {
            color: $main_color;
        }
    }
    &-wrapper {
        display: flex; 
        margin-top: 67px; 
    }
    &__left {
        margin-right: 114px;
        &-img {
           width: 100%;
        }
        
    }
    &__right {
        margin-top: 66px;
        width: 60%;
        &-content {
            font-size: 20px;
            line-height: 45px;
            letter-spacing: 0.5px;
            color: #363853;
        }
        &-wrapper {
            display: flex;
            align-items: center;
            margin-top: 74px;
            .arrows {
                width: 5%;
                height: 32px;
                margin-left: 49px;
                cursor: pointer;
                &:hover {
                    transform: scale(1.5, 1.5);
                }
            }
        }
        &-persona {
            color: $main_color;
            width: 70%;
            .subtext {
                font-weight: 400;
                font-size: 14px;
                color: #AAAAAA;
                margin-top: 18px;
            }
        }
        
    }
}
.subscribe {
    margin-top: 125px;
    &-wrapper {
        background-color: $main_color;
        width: 100%;
        height: 312px;
        border-radius: 20px;
        padding-top: 59px;
    }
    &__title {
        color: white;
        text-align: center;
        font-weight: 500;
        font-size: 40px;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
        margin-top: 12px;
    }
    &__form {
        position: relative;
        width: 80%;
        height: 78px;
        display: block;
        margin: 0 auto;
        margin-top: 32px;
        &-input {
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            padding: 0 44px;
            border: none;
            box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
            border-radius: 70px;
            font-size: 18px;
            font-weight: 400;
            color: #363853;
        }
        &-btn {
            position: absolute;
            width: 191px;
            height: 59px;
            border: none;
            border-radius: 70px;
            background-color: $main_color;
            font-weight: 500;
            font-size: 20px;
            color: white;
            text-align: center;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 6px 1px #020000;
            }
            .img {
                margin-right: 9px;
            }
        }
    }
}
.footer {
    margin-top: 120px;
    height: 245px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        margin-top: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-top: 18px;
        
        .img {
            margin-right: 12px;
            &:hover {
                border-radius: 100%;
                box-shadow: 0 0 6px 1px #020000;
            }
        }

    }
    &__items {
        a {
            color: #37383D;
            text-decoration: none;
        }
        li {
            list-style-type: none;
            margin: 20px 0;
            font-weight: 400;
            color: #37383D;
            font-size: 16px;
        }
        .bold {
            font-weight: 500;
        }
    }
    &__liner {
        margin-top: 25px;
        height: 1px;
        background: #969696;
        opacity: 0.2;
    }
    &__sub {
        
        &-wrapper {
            display: flex;
            height: 76px;
            padding-top: 26px;
        }
        &-copyright {
            width: 70%;
            font-size: 14px;
            font-weight: 400;
            a {
                color: #646464;
                text-decoration: none;
            }
        }
        &-item {
            font-size: 14px;
            font-weight: 400;
            width: 10%;
            text-align: right;
            a {
                color: #646464;
                text-decoration: none;
            }
        }
    }
}