html {
  font-family: "Roboto", sans-serif; }

.promo {
  min-height: 800px;
  padding: 38px 0 61px 0;
  background: url("../img/main_bg.jpg") center center/cover no-repeat; }
  .promo_logo {
    display: block;
    margin: 0 auto; }
    .promo_logo_sub {
      color: white;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin-top: 9.5px; }
  .promo_header {
    color: orange;
    font-size: 41px;
    text-transform: uppercase;
    margin-top: 53px;
    text-align: center;
    font-weight: 900; }
  .promo_title {
    font-size: 80px;
    text-transform: uppercase;
    color: white;
    margin-top: 20.5px;
    font-weight: 900;
    text-align: center; }
  .promo_subtitle {
    color: orange;
    font-size: 41px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20.5px;
    text-align: center; }
  .promo_text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 22.5px; }
    .promo_text_important {
      color: orange;
      text-transform: uppercase; }
  .promo_btn {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    width: 313px;
    height: 72px;
    background-color: #2798B9;
    border-color: #2798B9;
    margin: 0 auto;
    margin-top: 72px; }
  .promo_ps {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 60px; }
  .promo_arrow {
    display: block;
    margin: 0 auto;
    margin-top: 6px; }

.waiting {
  background-color: #EFEFEF;
  min-height: 607px;
  padding: 88px 50px; }
  .waiting_header {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center; }
  .waiting_liner {
    display: block;
    width: 220px;
    height: 3px;
    background-color: #F9BF3B;
    border-color: #F9BF3B;
    position: relative;
    margin: 0 auto;
    margin-top: 18px; }
  .waiting_subheader {
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    margin-top: 18.5px; }
  .waiting_wraper {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .waiting_items {
    margin-top: 45px;
    width: 384px;
    text-align: center; }
  .waiting_text {
    width: 100%;
    margin-top: 26px;
    font-size: 15px;
    font-weight: 300; }

.optimization {
  min-height: 700px;
  padding: 30px 0; }
  .optimization_about {
    padding-top: 47px; }
  .optimization_bg {
    display: inline-block;
    position: absolute; }
  .optimization_text {
    display: inline-block;
    position: relative;
    text-align: left;
    max-width: 70%;
    padding-top: 70px;
    margin-left: 600px;
    line-height: 2; }
    .optimization_text_header {
      color: #299CBD;
      font-size: 30px; }
    .optimization_text_subheader {
      font-size: 17px; }
    .optimization_text_ps {
      font-size: 17px;
      font-weight: 900; }

.finish {
  background: url("../img/second_bg.png") center center/cover no-repeat;
  height: 450px;
  padding-top: 20px; }
  .finish_header {
    color: white;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 46px; }
  .finish_liner {
    display: block;
    width: 220px;
    height: 3px;
    background-color: #F9BF3B;
    border-color: #F9BF3B;
    position: relative;
    margin: 0 auto;
    margin-top: 18px; }
  .finish_wraper {
    margin-top: 39px;
    display: flex;
    justify-content: space-between; }
    .finish_wraper_block {
      width: 204px; }
      .finish_wraper_block_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 115px;
        height: 115px;
        background-color: #B4E2FF;
        border-radius: 100%; }
      .finish_wraper_block_text {
        text-align: center;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 25px; }

.gift {
  background-color: #EFEFEF;
  min-height: 631px; }
  .gift_img {
    display: block;
    margin: 0 auto;
    margin-top: 88px; }
  .gift_header {
    font-size: 30px;
    margin-top: 45px;
    text-align: center; }
  .gift_btn {
    width: 313px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-top: 51px;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    background-color: #2798B9;
    border-color: #2798B9; }

.webinar {
  height: 547px; }
  .webinar_img {
    display: block;
    margin: 0 auto;
    margin-top: 30px; }
  .webinar_header {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 36px;
    text-align: center; }
  .webinar_date {
    color: #299CBD;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center; }
  .webinar_places {
    font-size: 23px;
    margin-top: 25px;
    text-align: center; }

.footer {
  padding-top: 55px;
  height: 169px;
  background-color: black;
  font-weight: 1.5; }
  .footer_links {
    display: block;
    margin: 0 auto;
    font-size: 15px;
    color: #888888;
    text-align: center; }
    .footer_links a {
      color: #888888; }

@media (max-width: 1199px) {
  .promo_header h1 {
    font-size: 40px; }
  .promo_title {
    font-size: 60px; }
  .promo_subtitle {
    font-size: 40px; }

  .waiting_wraper {
    flex-direction: column;
    align-items: center; }

  .optimization_bg {
    width: 50%; }
  .optimization_text {
    margin-left: 400px; }
    .optimization_text_header {
      font-size: 25px; }

  .finish_wraper_block {
    display: flex;
    flex-wrap: wrap; } }
@media (max-width: 991px) {
  .promo_header h1 {
    font-size: 40px; }
  .promo_title {
    font-size: 60px; }
  .promo_subtitle {
    font-size: 40px; }

  .waiting_wraper {
    flex-direction: column;
    align-items: center; }

  .optimization_bg {
    width: 100%;
    position: relative; }
  .optimization_text {
    margin-left: 0;
    max-width: 100%; }
    .optimization_text_header {
      font-size: 25px; }

  .finish {
    min-height: 700px; }
    .finish_wraper {
      display: flex;
      flex-wrap: wrap; } }
@media (max-width: 767px) {
  .promo_header h1 {
    font-size: 30px; }
  .promo_title {
    font-size: 45px; }
  .promo_subtitle {
    font-size: 30px; }
  .promo_text {
    font-size: 18px; }
  .promo_btn {
    width: 250px;
    height: 60px;
    font-size: 15px; }

  .waiting_wraper {
    flex-direction: column;
    align-items: center; }

  .optimization_bg {
    width: 100%;
    position: relative; }
  .optimization_text {
    margin-left: 0;
    max-width: 100%; }
    .optimization_text_header {
      font-size: 25px; }

  .finish {
    min-height: 700px; }
    .finish_wraper {
      display: flex;
      flex-wrap: wrap; }
      .finish_wraper_block {
        width: 160px;
        margin-top: 10px; }
        .finish_wraper_block_icons {
          width: 80px;
          height: 80px; }
        .finish_wraper_block_text {
          font-size: 14px; }

  .gift_img {
    margin-top: 30px;
    width: 20%; }
  .gift_header {
    font-size: 20px; }
  .gift_btn {
    width: 200px;
    height: 50px;
    font-size: 14px; }

  .webinar_img {
    width: 300px;
    height: 160px; } }
@media (max-width: 575px) {
  .promo_header h1 {
    font-size: 25px; }
  .promo_title {
    font-size: 35px; }
  .promo_subtitle {
    font-size: 25px; }
  .promo_text {
    font-size: 15px; }
  .promo_btn {
    width: 250px;
    height: 60px;
    font-size: 15px; }

  .waiting_header {
    font-size: 20px; }
  .waiting_subheader {
    font-size: 17px; }
  .waiting_wraper {
    flex-direction: column;
    align-items: center; }

  .optimization_bg {
    width: 100%;
    position: relative; }
  .optimization_text {
    margin-left: 0;
    max-width: 100%; }
    .optimization_text_header {
      font-size: 20px; }
    .optimization_text_subheader {
      font-size: 14px; }
    .optimization_text_ps {
      font-size: 14px; }

  .finish {
    min-height: 660px; }
    .finish_header {
      font-size: 25px;
      margin-top: 0; }
    .finish_wraper {
      display: flex;
      flex-wrap: wrap; }
      .finish_wraper_block {
        width: 160px;
        margin-top: 10px; }
        .finish_wraper_block_icons {
          width: 80px;
          height: 80px; }
        .finish_wraper_block_text {
          font-size: 14px; }

  .gift_img {
    margin-top: 30px;
    width: 20%; }
  .gift_header {
    font-size: 20px; }
  .gift_btn {
    width: 200px;
    height: 50px;
    font-size: 14px; }

  .webinar_img {
    width: 300px;
    height: 160px; } }

/*# sourceMappingURL=style.css.map */
